@import url('https://fonts.googleapis.com/css2?family=Alata&family=Homenaje&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

h1{
 text-align: center;
 font-family: 'Abel' ;
 font-weight: normal;
 font-size: 40px;
 margin:0px;
 padding: 0px;
 transform: translate(-0%, 50%);
  color: #F0F8FF;
}


h2{
 text-align: left;
 font-family: 'Abel' ;
 font-weight: normal;
 font-size: 20px;
 margin:10px;
 padding: 30px;
 transform: translate(-0%, 0%);
  color: #F0F8FF;

}
h3{
 text-align: center;
 font-family: 'Abel' ;
 font-weight: normal;
 font-size: 30px;
 margin:40px;
 padding: 0px;
 transform: translate(-0%, -100%);
  color: #000000;
}

h4{
 text-align: center;
 font-family: 'Abel' ;
 font-weight: normal;
 font-size: 25px;
 margin:50px;
 padding-right: 15%;
  padding-left: 15%;
  font-style: italic;
 transform: translate(-0%, 0%);
  color: #F0F8FF;
}

h5{
 text-align: center;
 font-family: 'Abel' ;
 font-weight: normal;
 font-size: 30px;
 margin:40px;
 padding: 0px;
 transform: translate(-50%, 50%);
  color: #F0F8FF;
}

body {
 text-align: center;
 font-family: 'Homenaje', sans-serif;
 font-weight: normal;
 font-size: 18px;
 margin:00px;
background-color: #404040;

}

p {
  text-align: left;
  font-family: 'Abel';
  font-weight: normal;
  font-size: 18px;
  margin:00px;
  padding: 0px;
  display: inline-block;
   color: #F0F8FF;
}

h5 {

  text-align: left;
  font-family: 'Homenaje';
  font-weight: normal;
  font-size: 22px;
  margin:0px;
  padding: 0px;
   color: #F0F8FF;
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Homenaje', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: white;	}



#mainMenu {

	width:100%;
  font-size: 12px;
	font-family: 'Homenaje';
	position: relative;
	text-align: center;
  color:  #F0F8FF !important;
  background-color: #888888;


}
#mainMenu li {
	display: inline-block;
	width:110px;
	margin-left:0px;
	border:0px ;
	position: center;
  background-color: #888888;
}

.mainMenu ul {
	text-align: center;}

#mainMenu a {
	display:block;
	padding:0px;
	text-decoration:none;
	background-color:#fff;
	color:#7E7E7E;
	text-align: center;
  background-color: #888888;
}

#mainMenu a:hover {
	background-color:#FFFFFF;
	color:#DC6A6A;
	font-weight: 600;}


#mainMenu a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}





    .navbar, .navbar-brand, .navbar-nav, .NavDropdown, .nav-link, .nav.link  {
      color:  #F0F8FF !important;
      font-size: 18px;
    	font-family: 'Abel';
    	position: relative;
    	text-align: center;

      &:hover {
        color:black !important;
        background-color: blue
      }

    }



    img {
       height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: middle;
position: relative;
 margin: auto;
    }

    @media (max-width: 1500px) {
      img {
        height: 80%;
        display: inline-block;

      }
    }




    .headshot_image {
      height: 200px;
     width: 200px;
     object-fit: cover;
     object-position: top;
position: left;
margin: 30px;
float: right;
   }


   .riba {
     height: 60px;
    width: auto;
    object-fit: cover;
    object-position: middle;
position: relative;
margin: 0px;
float: middle;
   }

  .about{
    text-align: justify;
    font-family: 'Abel' ;
    font-weight: normal;
    font-size: 20px;
    margin:30px;
    padding: 30px;
    transform: translate(-0%, 0%);
     color: #F0F8FF;
     float: middle;
   }
   @media only screen and (max-width: 550px) {
.about{
  text-align: justify;
  font-family: 'Abel' ;
  font-weight: normal;
  font-size: 16px;
  margin:10px;
  padding: 20px;
  transform: translate(-0%, 0%);
   color: #F0F8FF;


}
}



.intro{
  text-align: justify;
  font-family: 'Abel' ;
  font-weight: normal;
  font-size: 20px;
  margin:30px;
  padding: 30px;
  transform: translate(-0%, 0%);
   color: #F0F8FF;
   float: middle;
 }
 @media only screen and (max-width: 550px) {
.intro {
  text-align: justify;
  font-family: 'Abel' ;
  font-weight: normal;
  font-size: 16px;
  margin:10px;
  padding: 30px;
  transform: translate(-0%, 0%);
   color: #F0F8FF;
   float: middle;
}
}


.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #89A84F;

  bottom: 0;
  left: 0;
  width: 100%;
}
