
.h1.flex {
  text-align: center;
}


.holdingcontainer{
    max-width: 110%;
  
    display: flex;
    background: #34382d;
    padding: 0px;
    box-sizing: border-box;
    flex-direction: row;
  }

  .internalcontainerL{
    flex: 1.5;
   
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
  }

  .internalcontainerM{
    flex: 1.5;
    
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif; 
    margin: 3px;
  }

  .internalcontainerR{
    flex: 1.5;
  
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
  }

  @media screen and (max-width: 868px){
    .holdingcontainer{
      flex-direction: column;
      padding: 0px;
    }

    .internalcontainerL{
      flex: 1.5;
     
      padding: 0px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      margin: 3px;
    }
  
    .internalcontainerM{
      flex: 1.5;
      
      padding: 0px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif; 
      margin: 3px;
    }
  
    .internalcontainerR{
      flex: 20;
    size: 1000px;
      padding: 0px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      margin: 3px;
    }
  }
